*{
    margin: 0;
    padding: 0;
    bottom: 0;
}

body{
    background: #282A36;
    color: #FFF;
    
}

header{
    padding: 28px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.247);
    text-align: center;
}

.imgs{     /*posicao da logo*/
    position: absolute;
    left: 90px;
    top: 10px;
}

.links a{
    margin: 0 16px;
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    
}

.links a:hover{
    color: var(--color-green);
    transition: 400ms;
}

section {
    height: 100vh;
    padding: 2vw;
    font-size: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
    
section:first-of-type {
    text-transform: uppercase;
    font-size: 7vw;
}

section:nth-of-type(odd) {
    color: #fff;
    background-color: rgb(14, 8, 8);
    text-shadow: 0 0 5px rgba(100, 196, 76, 0.4); 
    
}
section:nth-child(1) {
    background-image: url(img/dc.jpg);
    
}
section:nth-child(3) {
    background-image: url(img/dc2.jpg);
    
}
section:nth-child(5) {
    background-image: url(img/dc3.jpg);
    
}